<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Anson_Store</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCon</display-name>
    <servlet-name>ListCon</servlet-name>
    <servlet-class>controller.ListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCon</servlet-name>
    <url-pattern>/ListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCon</display-name>
    <servlet-name>UpdateCon</servlet-name>
    <servlet-class>controller.UpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCon</servlet-name>
    <url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCon</display-name>
    <servlet-name>DeleteCon</servlet-name>
    <servlet-class>controller.DeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCon</servlet-name>
    <url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCon</display-name>
    <servlet-name>ViewCon</servlet-name>
    <servlet-class>controller.ViewCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCon</servlet-name>
    <url-pattern>/ViewCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvCon</display-name>
    <servlet-name>CsvCon</servlet-name>
    <servlet-class>controller.CsvCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvCon</servlet-name>
    <url-pattern>/CsvCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicCsvServlet</display-name>
    <servlet-name>DynamicCsvServlet</servlet-name>
    <servlet-class>controller.DynamicCsvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicCsvServlet</servlet-name>
    <url-pattern>/DynamicCsvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpCon</display-name>
    <servlet-name>SignUpCon</servlet-name>
    <servlet-class>controller.SignUpCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpCon</servlet-name>
    <url-pattern>/SignUpCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCon</display-name>
    <servlet-name>LoginCon</servlet-name>
    <servlet-class>controller.LoginCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCon</servlet-name>
    <url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListCon</display-name>
    <servlet-name>UserListCon</servlet-name>
    <servlet-class>controller.UserListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCon</servlet-name>
    <url-pattern>/UserListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/NoCacheFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BuyCon</display-name>
    <servlet-name>BuyCon</servlet-name>
    <servlet-class>controller.BuyCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyCon</servlet-name>
    <url-pattern>/BuyCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartCon</display-name>
    <servlet-name>CartCon</servlet-name>
    <servlet-class>controller.CartCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartCon</servlet-name>
    <url-pattern>/CartCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeCon</display-name>
    <servlet-name>ChargeCon</servlet-name>
    <servlet-class>controller.ChargeCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeCon</servlet-name>
    <url-pattern>/ChargeCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseRecord</display-name>
    <servlet-name>PurchaseRecord</servlet-name>
    <servlet-class>controller.PurchaseRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseRecord</servlet-name>
    <url-pattern>/PurchaseRecord</url-pattern>
  </servlet-mapping>
</web-app>